# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
*.out
# Windows executable files
*.exe

# Makefile specific files
Makefile
makefile
GNUmakefile

# Linux kernel specific files
Module.symvers
Module.markers
modules.order
*.mod.c
*.cmd
*.o.cmd
*.ko
*.mod
*.mod.o
*.symvers

# Debug files
*.dSYM/
*.log

# Temporary files
*.tmp
*.swp


.vscode
